.tab-content {
  padding: 1rem;
}

.form-field-expandido {
  width: 100%;
}

.botonera {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  margin-top: 1rem;
}
