<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
  <mat-tab>
    <span *matTabLabel> Contactos </span>
    <div class="tab-content">
      <app-contacto-form-section></app-contacto-form-section>
    </div>
  </mat-tab>
  <mat-tab>
    <span *matTabLabel> Direcciones </span>
    <div class="tab-content">
      <app-direccion-form-section></app-direccion-form-section>
    </div>
  </mat-tab>
  <mat-tab>
    <span *matTabLabel> Productos </span>
    <app-productos-form-section></app-productos-form-section>
  </mat-tab>
</mat-tab-group>
<mat-progress-bar
  class="progress-bar-form"
  [mode]="fetched ? 'determinate' : 'indeterminate'"
></mat-progress-bar>
