:host {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.tab-content {
  padding: 1rem;
}

::ng-deep .form-field-expandido {
  width: 100%;
}

mat-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
}
